* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        font-family: "Bangers", system-ui;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        background-color: #f0f0f0;
        padding: 20px;
}

h1 {
        margin-bottom: 20px;
}

#difficulty-container {
        margin-bottom: 20px;
}

#easy-btn {
        background-color: #2ecc71;
}

#medium-btn {
        background-color: #f39c12;
}

#hard-btn {
        background-color: #e74c3c;
}
      
button {
        margin: 0 10px;
        padding: 10px 20px;
        font-size: 1rem;
        cursor: pointer;
        background-color: #2980b9;
        color: white;
        border: none;
        border-radius: 5px;
}
      
button:hover {
        background-color: #3498db;
}

#scoreboard {
        margin-bottom: 20px;
}

#game-board {
        display: grid;
        grid-gap: 10px;
        justify-content: center;
        margin-top: 20px;
      }

.card {
        width: 100px;
        height: 100px;
        background-color: #a4a3a3;
        color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        border-radius: 8px;
 }      
      
 .card.flipped {
        color: #fff;
        background-color: #000;
}

.card.matched {
        background-color: #7f0068;
        cursor: not-allowed;
}

.card:hover {
        background-color: #2980b9;
}